<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
<meta name="renderer" content="webkit"/>
<meta name="force-rendering" content="webkit"/>
<script>/*@cc_on window.location.href="http://support.dmeng.net/upgrade-your-browser.html?referrer="+encodeURIComponent(window.location.href); @*/</script>
<title></title>
<link type="text/css" rel="stylesheet" href="css/style.css" />
<script src="js/jquery-1.8.1.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {
  $('.gwccheck').click(function(){
	   if($(this).attr("class")=="gwccheck on"){
	        $(this).removeClass('on');
		}else{
			$(this).addClass('on');
		}
  })
})
</script>
</head>

<body>
<div class="headerbox">
  <div class="header">
    <div class="headerL">
      <a onclick="javascript:history.back(-1)" class="goback"><img src="images/goback.png" /></a>
    </div>
    <div class="headerC">
      <p>管理收货地址</p>
    </div>
    <div class="headerR">
       <a href="addressAdd.html">添加</a>
    </div>
  </div>
</div>
<div class="clear"></div>
<div class="hbox"></div>
<div class="addressbox on">
  <div class="addressbox_1">
    <p class="p1">收货人：王小萌<span>186********</span></p>
    <p class="p2">陕西省西安市雁塔区二环南路中段绿地乐和城3号楼 </p>
  </div>
  <div class="addressbox_2">
    <div class="ad1">
      <div class="ad1_1">
        <div class="gwccheck on"></div>
      </div>
      <div class="ad1_2">设为默认</div>
    </div>
    <div class="ad2">
      <div class="ad2_1"><img src="images/del.png" /></div>
      <div class="ad2_2">删除</div>
    </div>
    <div class="ad2 mr">
      <a href="addressEdit.html">
      <div class="ad2_1"><img src="images/edit.png" /></div>
      <div class="ad2_2">编辑</div>
      </a>
    </div>
  </div>
</div>
<div class="w100">
  <img src="images/addressline.png" />
</div>
<div class="kbox"></div>
<div class="addressbox">
  <div class="addressbox_1">
    <p class="p1">收货人：王小萌<span>186********</span></p>
    <p class="p2">陕西省西安市雁塔区二环南路中段绿地乐和城3号楼 </p>
  </div>
  <div class="addressbox_2">
    <div class="ad1">
      <div class="ad1_1">
        <div class="gwccheck"></div>
      </div>
      <div class="ad1_2">设为默认</div>
    </div>
    <div class="ad2">
      <div class="ad2_1"><img src="images/del.png" /></div>
      <div class="ad2_2">删除</div>
    </div>
    <div class="ad2 mr">
      <a href="addressEdit.html">
      <div class="ad2_1"><img src="images/edit.png" /></div>
      <div class="ad2_2">编辑</div>
      </a>
    </div>
  </div>
</div>
<div class="kbox"></div>
<div class="addressbox">
  <div class="addressbox_1">
    <p class="p1">收货人：王小萌<span>186********</span></p>
    <p class="p2">陕西省西安市雁塔区二环南路中段绿地乐和城3号楼 </p>
  </div>
  <div class="addressbox_2">
    <div class="ad1">
      <div class="ad1_1">
        <div class="gwccheck"></div>
      </div>
      <div class="ad1_2">设为默认</div>
    </div>
    <div class="ad2">
      <div class="ad2_1"><img src="images/del.png" /></div>
      <div class="ad2_2">删除</div>
    </div>
    <div class="ad2 mr">
      <a href="addressEdit.html">
      <div class="ad2_1"><img src="images/edit.png" /></div>
      <div class="ad2_2">编辑</div>
      </a>
    </div>
  </div>
</div>
<div class="kbox"></div>
<div class="addressbox">
  <div class="addressbox_1">
    <p class="p1">收货人：王小萌<span>186********</span></p>
    <p class="p2">陕西省西安市雁塔区二环南路中段绿地乐和城3号楼 </p>
  </div>
  <div class="addressbox_2">
    <div class="ad1">
      <div class="ad1_1">
        <div class="gwccheck"></div>
      </div>
      <div class="ad1_2">设为默认</div>
    </div>
    <div class="ad2">
      <div class="ad2_1"><img src="images/del.png" /></div>
      <div class="ad2_2">删除</div>
    </div>
    <div class="ad2 mr">
      <a href="addressEdit.html">
      <div class="ad2_1"><img src="images/edit.png" /></div>
      <div class="ad2_2">编辑</div>
      </a>
    </div>
  </div>
</div>
<div class="clear"></div>
<div class="kbox"></div>
</body>
</html>
