<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
<meta name="renderer" content="webkit"/>
<meta name="force-rendering" content="webkit"/>
<script>/*@cc_on window.location.href="http://support.dmeng.net/upgrade-your-browser.html?referrer="+encodeURIComponent(window.location.href); @*/</script>
<title></title>
<link type="text/css" rel="stylesheet" href="css/style.css" />
</head>

<body>
<div class="headerbox">
  <div class="header">
    <div class="headerL">
      <a onclick="javascript:history.back(-1)" class="goback"><img src="images/goback.png" /></a>
    </div>
    <div class="headerC">
      <p>我的订单</p>
    </div>
    <div class="headerR"></div>
  </div>
</div>
<div class="clear"></div>
<div class="hbox"></div>
<div class="myddstatu">
  <ul>
    <li>
      <a href="allDd.html">全部(6)</a>
    </li>
    <li class="on">
      <a href="allDdfhno.html">待发货(1)</a>
    </li>
    <li>
      <a href="allDdshno.html">待收货(3)</a>
    </li>
    <li>
      <a href="allDdpjno.html">待评价(2)</a>
    </li>
  </ul>
</div>
<div class="clear"></div>
<div class="myddcon">
  <div class="myddcon1">
    <div class="dpbox">
      <div class="dpL">
        <a href="dpxq.html">
        <span>皇宫婚纱旗舰店</span>
        <img src="images/mre1.png">
        </a>
      </div>
      <div class="dpR">等待卖家发货</div>
    </div>
    <div class="shopbox">
      <div class="shopboxL">
        <img src="images/gwc1.png" />
      </div>
      <div class="shopboxR">
        <div class="shopboxR_1">
          <div class="sbr1_1">2015秋季新款羽毛蕾丝抹胸长拖尾镶钻拉链婚纱</div>
          <div class="sbr1_2">
            <p class="p1">￥98.57</p>
            <p class="p2">￥69.00</p>
          </div>
        </div>
        <div class="shopboxR_2">
           <p class="p3">颜色：白色；尺码：均码；</p>
           <p class="p4">×1</p>
        </div>
      </div>
    </div>
    <div class="dphjbox">
      <p class="p5">共一件商品，合计:<span>￥69.00</span></p>
    </div>
    <div class="dpbtn">
      <div class="dpbtn2">
        <a href="javascript:void()">提醒卖家发货</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>
