<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
<meta name="renderer" content="webkit"/>
<meta name="force-rendering" content="webkit"/>
<script>/*@cc_on window.location.href="http://support.dmeng.net/upgrade-your-browser.html?referrer="+encodeURIComponent(window.location.href); @*/</script>
<title></title>
<link type="text/css" rel="stylesheet" href="css/style.css" />
</head>

<body>
<div class="headerbox">
  <div class="header">
    <div class="headerL">
      <a onclick="javascript:history.back(-1)" class="goback"><img src="images/goback.png" /></a>
    </div>
    <div class="headerC0">
      <a href="seacher.html" style="display:block; width:100%; height:100%"></a>
    </div>
    <div class="headerR">
      <a href="javascript:void()">取消</a>
    </div>
  </div>
</div>
<div class="shopType">
  <ul>
    <li>
      <a href="shoplist.html">综合</a>
    </li>
    <li>
      <a href="shoplist.html">销量</a>
    </li>
    <li>
      <a href="shoplist.html">价格</a>
      <span class="pricebtn1"></span>
      <span class="pricebtn2"></span>
    </li>
    <li class="on">
      <a href="dplist.html">店铺</a>
    </li>
    <li>
      <a href="javascript:void()">筛选</a>
    </li>
  </ul>
</div>
<div class="clear"></div>
<div class="hbox1"></div>
<div class="kbox"></div>
<div class="dpubox">
  <div class="dpubox1">
    <div class="dpubox1L">
      <div class="dpimg"><img src="images/dp1.png" /></div>
      <div class="dptxt">
        <p class="p1">天使婚纱礼服馆</p>
        <p class="p2">销量 866  共 4665件商品</p>
      </div>
    </div>
    <div class="dpubox1R">
      <a href="dpxq.html">进店逛逛</a>
    </div>
  </div>
  <div class="dpubox2">
    <ul>
      <li>
        <a href="xq.html"><img src="images/dp2.png" /></a>
        <p>￥450</p>
      </li>
      <li>
        <a href="xq.html"><img src="images/dp2.png" /></a>
        <p>￥450</p>
      </li>
      <li>
        <a href="xq.html"><img src="images/dp2.png" /></a>
        <p>￥450</p>
      </li>
      <li>
        <a href="xq.html"><img src="images/dp2.png" /></a>
        <p>￥450</p>
      </li>
    </ul>
  </div>
</div>
<div class="clear"></div>
<div class="kbox"></div>
<div class="dpubox">
  <div class="dpubox1">
    <div class="dpubox1L">
      <div class="dpimg"><img src="images/dp1.png" /></div>
      <div class="dptxt">
        <p class="p1">天使婚纱礼服馆</p>
        <p class="p2">销量 866  共 4665件商品</p>
      </div>
    </div>
    <div class="dpubox1R">
      <a href="dpxq.html">进店逛逛</a>
    </div>
  </div>
  <div class="dpubox2">
    <ul>
      <li>
        <a href="xq.html"><img src="images/dp2.png" /></a>
        <p>￥450</p>
      </li>
      <li>
        <a href="xq.html"><img src="images/dp2.png" /></a>
        <p>￥450</p>
      </li>
      <li>
        <a href="xq.html"><img src="images/dp2.png" /></a>
        <p>￥450</p>
      </li>
      <li>
        <a href="xq.html"><img src="images/dp2.png" /></a>
        <p>￥450</p>
      </li>
    </ul>
  </div>
</div>
<div class="clear"></div>
<div class="kbox"></div>
<div class="dpubox">
  <div class="dpubox1">
    <div class="dpubox1L">
      <div class="dpimg"><img src="images/dp1.png" /></div>
      <div class="dptxt">
        <p class="p1">天使婚纱礼服馆</p>
        <p class="p2">销量 866  共 4665件商品</p>
      </div>
    </div>
    <div class="dpubox1R">
      <a href="dpxq.html">进店逛逛</a>
    </div>
  </div>
  <div class="dpubox2">
    <ul>
      <li>
        <a href="xq.html"><img src="images/dp2.png" /></a>
        <p>￥450</p>
      </li>
      <li>
        <a href="xq.html"><img src="images/dp2.png" /></a>
        <p>￥450</p>
      </li>
      <li>
        <a href="xq.html"><img src="images/dp2.png" /></a>
        <p>￥450</p>
      </li>
      <li>
        <a href="xq.html"><img src="images/dp2.png" /></a>
        <p>￥450</p>
      </li>
    </ul>
  </div>
</div>
<div class="clear"></div>
<div class="kbox"></div>
<div class="dpubox">
  <div class="dpubox1">
    <div class="dpubox1L">
      <div class="dpimg"><img src="images/dp1.png" /></div>
      <div class="dptxt">
        <p class="p1">天使婚纱礼服馆</p>
        <p class="p2">销量 866  共 4665件商品</p>
      </div>
    </div>
    <div class="dpubox1R">
      <a href="dpxq.html">进店逛逛</a>
    </div>
  </div>
  <div class="dpubox2">
    <ul>
      <li>
        <a href="xq.html"><img src="images/dp2.png" /></a>
        <p>￥450</p>
      </li>
      <li>
        <a href="xq.html"><img src="images/dp2.png" /></a>
        <p>￥450</p>
      </li>
      <li>
        <a href="xq.html"><img src="images/dp2.png" /></a>
        <p>￥450</p>
      </li>
      <li>
        <a href="xq.html"><img src="images/dp2.png" /></a>
        <p>￥450</p>
      </li>
    </ul>
  </div>
</div>
</body>
</html>
