<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
<meta name="renderer" content="webkit"/>
<meta name="force-rendering" content="webkit"/>
<script>/*@cc_on window.location.href="http://support.dmeng.net/upgrade-your-browser.html?referrer="+encodeURIComponent(window.location.href); @*/</script>
<title></title>
<link type="text/css" rel="stylesheet" href="css/style.css" />
<script src="js/jquery-1.8.1.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {
  $('.gwccheck').click(function(){
	   if($(this).attr("class")=="gwccheck on"){
	        $(this).removeClass('on');
		}else{
			$(this).addClass('on');
		}
  })
})
</script>
</head>

<body>
<div class="headerbox">
  <div class="header">
    <div class="headerL">
      <a onclick="javascript:history.back(-1)" class="goback"><img src="images/goback.png" /></a>
    </div>
    <div class="headerC">
      <p>确认订单</p>
    </div>
    <div class="headerR"></div>
  </div>
</div>
<div class="clear"></div>
<div class="hbox"></div>
<div class="kbox"></div>
<div class="jsaddress">
  <a href="addressGL.html">
  <div class="jsaddressL">
    <p class="p6">收货人：王小萌<span>15126488999</span></p>
    <p class="p5">陕西省西安市雁塔区二环南路中段绿地乐和城3号楼 </p>
  </div>
  <div class="jsaddressR">
    <img src="images/more.png" />
  </div>
  <div class="clear"></div>
  </a>
</div>
<div class="w100">
  <img src="images/addressline.png" />
</div>
<div class="clear"></div>
<div class="kbox"></div>
<div class="jsdingdan">
  <div class="jsdp">
    <a href="dpxq.html">
      <img src="images/dplogo.png" />
      <span>皇宫婚纱旗舰店</span>
    </a>
  </div>
  <div class="jsxq">
    <div class="jsxq_1">
      <img src="images/gwc1.png" />
    </div>
    <div class="jsxq_2">
      <div class="js_1">
        <p class="p1">2015新款婚纱冬季新娘结婚韩版蕾...</p>
        <p class="p2">￥895</p>
      </div>
      <div class="js_2">
        <p class="p3">颜色：白色；尺码：L</p>
        <p class="p4">×1</p>
      </div>
    </div>
  </div>
  <div class="jsyf">
    <div class="jsyfL">快递运费：</div>
    <div class="jsyfR">全国包邮</div>
  </div>
  <div class="jsyf">
    <div class="jsyfL">买家留言：</div>
    <div class="jsyfC">订单补充说明...</div>
  </div>
  <div class="jshj">
    <div class="jshjp">共一件商品<span class="sp1">合计：</span><span class="sp2">￥495.9</span></div>
  </div>
</div>
<div class="clear"></div>
<div class="kbox"></div>
<div class="jsyhq">
  <div class="jsyhq_1">
    <p class="p1">优惠券</p>
    <p class="p2">无可用</p>
  </div>
  <div class="jsyhq_2">
    <div class="jsjfL">
      <p>积分抵用<span>共150积分，可抵1.5元</span></p>
    </div>
    <div class="jsjfR">
      <div class="gwccheck"></div>
    </div>
  </div>
</div>
<div class="fbox2"></div>
<div class="hejiBox jiesuan">
  <div class="heji">
    <div class="heji_3"><p>总计：<span>￥784.80</span></p></div>
    <div class="heji_5">
      <a href="pay.html">确认</a>
    </div>
  </div>
</div>
</body>
</html>
