<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
<meta name="renderer" content="webkit"/>
<meta name="force-rendering" content="webkit"/>
<script>/*@cc_on window.location.href="http://support.dmeng.net/upgrade-your-browser.html?referrer="+encodeURIComponent(window.location.href); @*/</script>
<title></title>
<link type="text/css" rel="stylesheet" href="css/style.css" />
</head>

<body>
<div class="headerbox">
  <div class="header">
    <div class="headerL">
      <a onclick="javascript:history.back(-1)" class="goback"><img src="images/goback.png" /></a>
    </div>
    <div class="headerC">
      <p>评价</p>
    </div>
    <div class="headerR"></div>
  </div>
</div>
<div class="clear"></div>
<div class="hbox"></div>
<div class="xqpj bor">
  <div class="xqpjbox">
    <div class="pj1">
      <img src="images/tx.png" />
      <span>喵星人</span>
    </div>
    <div class="pj2">收到了，费了老大劲才穿上，但是非常合身，效果特别好，家里人都说很美，太棒了，五分好评。</div>
    <div class="pj3">2015-12-28  颜色：白色  尺码：S</div>
  </div>
  <div class="xqpjbox">
    <div class="pj1">
      <img src="images/tx.png" />
      <span>喵星人</span>
    </div>
    <div class="pj2">收到了，费了老大劲才穿上，但是非常合身，效果特别好，家里人都说很美，太棒了，五分好评。</div>
    <div class="pj3">2015-12-28  颜色：白色  尺码：S</div>
  </div>
  <div class="xqpjbox">
    <div class="pj1">
      <img src="images/tx.png" />
      <span>喵星人</span>
    </div>
    <div class="pj2">收到了，费了老大劲才穿上，但是非常合身，效果特别好，家里人都说很美，太棒了，五分好评。</div>
    <div class="pj3">2015-12-28  颜色：白色  尺码：S</div>
  </div>
  <div class="xqpjbox">
    <div class="pj1">
      <img src="images/tx.png" />
      <span>喵星人</span>
    </div>
    <div class="pj2">收到了，费了老大劲才穿上，但是非常合身，效果特别好，家里人都说很美，太棒了，五分好评。</div>
    <div class="pj3">2015-12-28  颜色：白色  尺码：S</div>
  </div>
  <div class="xqpjbox">
    <div class="pj1">
      <img src="images/tx.png" />
      <span>喵星人</span>
    </div>
    <div class="pj2">收到了，费了老大劲才穿上，但是非常合身，效果特别好，家里人都说很美，太棒了，五分好评。</div>
    <div class="pj3">2015-12-28  颜色：白色  尺码：S</div>
  </div>
  <div class="xqpjbox">
    <div class="pj1">
      <img src="images/tx.png" />
      <span>喵星人</span>
    </div>
    <div class="pj2">收到了，费了老大劲才穿上，但是非常合身，效果特别好，家里人都说很美，太棒了，五分好评。</div>
    <div class="pj3">2015-12-28  颜色：白色  尺码：S</div>
  </div>
</div>
</body>
</html>
