<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
<meta name="renderer" content="webkit"/>
<meta name="force-rendering" content="webkit"/>
<script>/*@cc_on window.location.href="http://support.dmeng.net/upgrade-your-browser.html?referrer="+encodeURIComponent(window.location.href); @*/</script>
<title></title>
<link type="text/css" rel="stylesheet" href="css/style.css" />
<script src="js/jquery-1.8.1.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {
   var b=document.body.clientHeight;
   //alert(b);
	b=b-45.8;
	$('.shoptypebox').css('height',b);
	
  
  $(".shtypeLeft ul li").click(function () {
		$('.shtypeLeft ul li').removeClass('on');
		$(this).addClass('on');
	})
})
</script>
</head>

<body>
<div class="headerbox">
  <div class="header">
    <div class="headerL">
      <a onclick="javascript:history.back(-1)" class="goback"><img src="images/goback.png" /></a>
    </div>
    <div class="headerC0">
      <div class="ssdiv">
        <input name="" type="text" placeholder="进口生鲜今日三折起售"/>
        <a href="shoplist.html"><img src="images/ss.png" /></a>
      </div>
    </div>
    <div class="headerR">
      <a href="shoplist.html">取消</a>
    </div>
  </div>
</div>
<div class="clear"></div>
<div class="hbox"></div>
<div class="shoptypebox">
  <div class="shtypeLeft">
    <ul>
      <li class="on"><a href="#m1">热门推荐</a></li>
      <li><a href="#m2">潮流女装</a></li>
      <li><a href="#m3">品牌男装</a></li>
      <li><a href="#m4">时尚潮靴</a></li>
      <li><a href="#m5">箱包配件</a></li>
      <li><a href="#m6">家用电器</a></li>
      <li><a href="#m7">家居家纺</a></li>
      <li><a href="#m8">电脑办公</a></li>
      <li><a href="#m9">手机数码</a></li>
      <li><a href="#m10">母婴用品</a></li>
      <li><a href="#m11">珠宝配饰</a></li>
      <li><a href="#m12">日用百货</a></li>
      <li><a href="#m13">家居日用</a></li>
    </ul>
  </div>
  <div class="shtypeRight">
    <div class="boxOne">
      <div class="box1">
        <img src="images/1.jpg" />
      </div>
      <a name="m1">
      <div class="box2 botrtop">
        <p>热门分类</p>
      </div>
      </a>
      <div class="box3">
        <ul>
          <li>
            <a href="shoplist.html">
            <img src="images/2.jpg" />
            <p>毛呢外套</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/3.jpg" />
            <p>毛衣</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/4.jpg" />
            <p>羽绒服</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/5.jpg" />
            <p>奶粉</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/6.jpg" />
            <p>坚果炒货</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/7.jpg" />
            <p>手机</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/8.jpg" />
            <p>休闲零食</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/9.jpg" />
            <p>葡萄酒</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/10.jpg" />
            <p>雪地靴</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/11.jpg" />
            <p>拉杆箱</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/12.jpg" />
            <p>粉底液</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/13.jpg" />
            <p>真皮包</p>
            </a>
          </li>
        </ul>
      </div>
      <a name="m2">
      <div class="box2">
        <p>潮流女装</p>
      </div>
      </a>
      <div class="box3">
        <ul>
          <li>
            <a href="shoplist.html">
            <img src="images/2.jpg" />
            <p>毛呢外套</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/3.jpg" />
            <p>毛衣</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/4.jpg" />
            <p>羽绒服</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/2.jpg" />
            <p>毛呢外套</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/3.jpg" />
            <p>毛衣</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/4.jpg" />
            <p>羽绒服</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/2.jpg" />
            <p>毛呢外套</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/3.jpg" />
            <p>毛衣</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/4.jpg" />
            <p>羽绒服</p>
            </a>
          </li>
        </ul>
      </div>
      <a name="m3">
      <div class="box2">
        <p>品牌男装</p>
      </div>
      </a>
      <div class="box3">
        <ul>
          <li>
            <a href="shoplist.html">
            <img src="images/5.jpg" />
            <p>奶粉</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/6.jpg" />
            <p>坚果炒货</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/7.jpg" />
            <p>手机</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/8.jpg" />
            <p>休闲零食</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/9.jpg" />
            <p>葡萄酒</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/10.jpg" />
            <p>雪地靴</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/11.jpg" />
            <p>拉杆箱</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/12.jpg" />
            <p>粉底液</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/13.jpg" />
            <p>真皮包</p>
            </a>
          </li>
        </ul>
      </div>
      <a name="m4">
      <div class="box2">
        <p>时尚潮靴</p>
      </div>
      </a>
      <div class="box3">
        <ul>
          <li>
            <a href="shoplist.html">
            <img src="images/10.jpg" />
            <p>雪地靴</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/10.jpg" />
            <p>雪地靴</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/10.jpg" />
            <p>雪地靴</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/10.jpg" />
            <p>雪地靴</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/10.jpg" />
            <p>雪地靴</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/10.jpg" />
            <p>雪地靴</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/10.jpg" />
            <p>雪地靴</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/10.jpg" />
            <p>雪地靴</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/10.jpg" />
            <p>雪地靴</p>
            </a>
          </li>
        </ul>
      </div>
      <a name="m5">
      <div class="box2">
        <p>箱包配件</p>
      </div>
      </a>
      <div class="box3">
        <ul>
          <li>
            <a href="shoplist.html">
            <img src="images/13.jpg" />
            <p>真皮包</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/13.jpg" />
            <p>真皮包</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/13.jpg" />
            <p>真皮包</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/13.jpg" />
            <p>真皮包</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/13.jpg" />
            <p>真皮包</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/13.jpg" />
            <p>真皮包</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/11.jpg" />
            <p>拉杆箱</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/13.jpg" />
            <p>真皮包</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/13.jpg" />
            <p>真皮包</p>
            </a>
          </li>
        </ul>
      </div>
      <a name="m6">
      <div class="box2">
        <p>家用电器</p>
      </div>
      </a>
      <div class="box3">
        <ul>
          <li>
            <a href="shoplist.html">
            <img src="images/5.jpg" />
            <p>奶粉</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/6.jpg" />
            <p>坚果炒货</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/7.jpg" />
            <p>手机</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/8.jpg" />
            <p>休闲零食</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/9.jpg" />
            <p>葡萄酒</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/10.jpg" />
            <p>雪地靴</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/11.jpg" />
            <p>拉杆箱</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/12.jpg" />
            <p>粉底液</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/13.jpg" />
            <p>真皮包</p>
            </a>
          </li>
        </ul>
      </div>
      <a name="m7">
      <div class="box2">
        <p>家居家纺</p>
      </div>
      </a>
      <div class="box3">
        <ul>
          <li>
            <a href="shoplist.html">
            <img src="images/5.jpg" />
            <p>奶粉</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/6.jpg" />
            <p>坚果炒货</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/7.jpg" />
            <p>手机</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/8.jpg" />
            <p>休闲零食</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/9.jpg" />
            <p>葡萄酒</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/10.jpg" />
            <p>雪地靴</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/11.jpg" />
            <p>拉杆箱</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/12.jpg" />
            <p>粉底液</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/13.jpg" />
            <p>真皮包</p>
            </a>
          </li>
        </ul>
      </div>
      <a name="m8">
      <div class="box2">
        <p>电脑办公</p>
      </div>
      </a>
      <div class="box3">
        <ul>
          <li>
            <a href="shoplist.html">
            <img src="images/5.jpg" />
            <p>奶粉</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/6.jpg" />
            <p>坚果炒货</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/7.jpg" />
            <p>手机</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/8.jpg" />
            <p>休闲零食</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/9.jpg" />
            <p>葡萄酒</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/10.jpg" />
            <p>雪地靴</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/11.jpg" />
            <p>拉杆箱</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/12.jpg" />
            <p>粉底液</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/13.jpg" />
            <p>真皮包</p>
            </a>
          </li>
        </ul>
      </div>
      <a name="m9">
      <div class="box2">
        <p>手机数码</p>
      </div>
      </a>
      <div class="box3">
        <ul>
          <li>
            <a href="shoplist.html">
            <img src="images/7.jpg" />
            <p>手机</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/7.jpg" />
            <p>手机</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/7.jpg" />
            <p>手机</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/7.jpg" />
            <p>手机</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/7.jpg" />
            <p>手机</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/7.jpg" />
            <p>手机</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/7.jpg" />
            <p>手机</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/7.jpg" />
            <p>手机</p>
            </a>
          </li>
          <li>
            <a href="shoplist.html">
            <img src="images/7.jpg" />
            <p>手机</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
</body>
</html>
