<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
<meta name="renderer" content="webkit"/>
<meta name="force-rendering" content="webkit"/>
<script>/*@cc_on window.location.href="http://support.dmeng.net/upgrade-your-browser.html?referrer="+encodeURIComponent(window.location.href); @*/</script>
<title></title>
<link type="text/css" rel="stylesheet" href="css/style.css" />
</head>

<body>
<div class="headerbox">
  <div class="header">
    <div class="headerL">
      <a onclick="javascript:history.back(-1)" class="goback"><img src="images/goback.png" /></a>
    </div>
    <div class="headerC">
      <p>待收货订单</p>
    </div>
    <div class="headerR"></div>
  </div>
</div>
<div class="clear"></div>
<div class="hbox"></div>
<div class="dddshbox1">
  <div class="dddshbox1_1">买家已付款</div>
  <div class="dddshbox1_2">快递公司：百世汇通   快递单号：70552175845698465</div>
</div>
<div class="clear"></div>
<div class="ddwl">
  <a href="wuliu.html">
  <div class="ddwl1"><img src="images/car.png" /></div>
  <div class="ddwl2">
    <p class="p1">广州市【广州分拨中心】，正发往【西安分拨中心】</p>
    <p class="p2">2016-01-15 04:24:25</p>
  </div>
  <div class="ddwl3"><img src="images/mre1.png" /></div>
  </a>
</div>
<div class="clear"></div>
<div class="ddwl">
  <a href="addressGL.html">
  <div class="ddwl1"><img src="images/wz.png" /></div>
  <div class="ddwl5">
    <p class="p1">收货人：王小萌     15126489546</p>
    <p class="p2">陕西省西安市碑林区二环南路绿地乐和城3号楼</p>
  </div>
  </a>
</div>
<div class="clear"></div>
<div class="kbox"></div>
<div class="shnobox">
  <div class="shnobox1">
    <div class="shnobox1_L">
      <a href="dpxq.html">
      <span>皇宫婚纱旗舰店</span>
      <img src="images/mre1.png">
      </a>
    </div>
    <div class="shnobox1_R">
      <img src="images/ww.png" />
      <span>联系客服</span>
    </div>
  </div>
  <div class="shnobox2">
    <div class="shnobox2_L">
      <img src="images/gwc2.png" />
    </div>
    <div class="shnobox2_R">
      <div class="shnobox2_R_1">
        <div class="le">秋冬款韩版低圆领中长款宽松套头打底毛衣</div>
        <div class="ri">￥69.00</div>
      </div>
      <div class="shnobox2_R_2">
         <div class="lef">
           <p class="p1">颜色：白色；尺码：均码；</p>
           <p class="p2">×1</p>
         </div>
         <div class="rig">
           <a href="javascript:void()">退款</a>
         </div>
      </div>
    </div>
  </div>
  <div class="jsyf">
    <div class="jsyfL">快递运费：</div>
    <div class="jsyfR">￥0.00</div>
  </div>
  <div class="jsyf">
    <div class="jsyfL">价格合计：</div>
    <div class="jsyfR red">￥69.00</div>
  </div>
  <div class="jsyf">
    <div class="jsyfL">支付方式：</div>
    <div class="jsyfR">微信支付</div>
  </div>
  <div class="shnobox3">
    订单编号：16654876641646<br />
    付款时间：2016-01-14  14:23:17<br />
    买家留言：周六日不收货
  </div>
</div>
<div class="clear"></div>
<div class="fbox2"></div>
<div class="hejiBox jiesuan">
  <div class="heji">
    <div class="heji_3"><p>总计：<span>￥69.00</span></p></div>
    <div class="heji_5">
      <a href="pingjia.html">确认收获</a>
    </div>
  </div>
</div>
</body>
</html>
