<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
<meta name="renderer" content="webkit"/>
<meta name="force-rendering" content="webkit"/>
<script>/*@cc_on window.location.href="http://support.dmeng.net/upgrade-your-browser.html?referrer="+encodeURIComponent(window.location.href); @*/</script>
<title></title>
<link type="text/css" rel="stylesheet" href="css/style.css" />
<script src="js/jquery-1.8.1.min.js"></script>
<!--<script type="text/javascript" src="js/banner.js"></script>-->
</head>

<body>
<div class="topssbox1">
<div class="topss">
  <a href="seacher">
  <div class="topssbox">
    <img src="images/s.png" />
  </div>
  </a>
</div>
</div>
<div style="height:40px"></div>
<div style="border-bottom:1px solid #eee;width:98%;height:410px;background: white;margin: 0 auto;text-align:center">
  <div style="width:95%;text-align: center">产品由XX提供</div>
  <img width="95%" height="200px" src="images/1.png"/>
  <div style="width:95%;margin:0 auto;">
    <div style="float:left;width:85%;height:50px;border-right: 1px solid #F2F2F2;text-align:left;">
      <span style="margin-left: 0px;font-size:20px;color:#000033;">六个核桃</span>
    </div>
    <div style="float:right;width:14%;height:50px;text-align: center;margin-top: 10px;">
      <span style="font-size:10px;color:#ffcc66;">16.6万</span><br/>
      <span style="font-size:10px;color:#000033;">人气值</span>
    </div>
  </div>
  <div class="clear"></div>
  <div style="height:5px;"></div>
  <div class="clear"></div>
  <div style="width:95%;border-top:1px solid #F2F2F2;margin:0 auto;">
    <div style="float:left;width:60%;height:30px;text-align: left;margin-top: 10px;">
      <span style="margin-left: 0px;font-size:13px;color:#e5595c;">预售时间：05月21日</span><br/>
      <span style="margin-left: 0px;font-size:13px;color:#e5595c;">提货时间：05月22日</span>
    </div>
    <div style="float:right;width:40%;height:30px;text-align: right;margin-top: 10px;">
      <span style="margin-right: 0px;font-size:10px;color:#e5595c;">限量80000份</span><br/>
      <span style="margin-right: 0px;font-size:15px;color:#000000;">今日已售<label style="color:#f13e3b;">80000</label>份</span>
    </div>
  </div>
  <div class="clear"></div>
  <div style="height:10px"></div>
  <div class="clear"></div>
  <div style="width:95%;margin:0 auto;">
    <div style="float:left;width:80%;height:30px;text-align: left;margin-top: 10px;">
      <span style="margin-left: 0px;font-size:23px;color:#e5595c;">￥<label>9.5</label></span>
    </div>
    <div style="float:right;width:20%;height:30px;text-align: right;margin-top: 10px;">
      <div style="margin-right: 0px;height:28px;background: #a00300;border-radius:5px;line-height: 28px;text-align: center;">
        <span style="font-size:15px;color:white;">加入购物车</span>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <div style="height:5px"></div>
 <!-- <div class="clear"></div>-->
  <div style="width:95%;border-top:1px solid #F2F2F2;height:20px;margin:0 auto;">
    <div style="float:left;width:60%;height:20px;margin-left: 0px;text-align:left;">
      <img src="images/6.png" style="width:20px;height:20px;border-radius:10px;border:1px solid #666666;vertical-align:middle;"/>
      <img src="images/6.png" style="width:20px;height:20px;border-radius:10px;border:1px solid #666666;vertical-align:middle;"/>
      <img src="images/6.png" style="width:20px;height:20px;border-radius:10px;border:1px solid #666666;vertical-align:middle;"/>
      <img src="images/6.png" style="width:20px;height:20px;border-radius:10px;border:1px solid #666666;vertical-align:middle;"/>
      <img src="images/6.png" style="width:20px;height:20px;border-radius:10px;border:1px solid #666666;vertical-align:middle;"/>
      <span style="color:#C1C1C1;font-size:8px;vertical-align:middle;">等购买了此商品</span>
    </div>
    <div style="float:right;width:19%;height:20px;margin-right: 0px;text-align:right;">
      <span style="color:#ABABAB;font-size:8px;vertical-align:middle;"> > </span>
    </div>
  </div>
</div>
<div style="height:5px"></div>
<div style="border-bottom:1px solid #eee;width:98%;height:410px;background: white;margin: 0 auto;text-align:center">
  <div style="width:95%;text-align: center">产品由XX提供</div>
  <!--<img width="95%" height="200px" src="images/1.png"/>-->
  <div style="width:95%;height:200px;background-image:url(images/1.png);">

  </div>
  <div style="width:95%;margin:0 auto;">
    <div style="float:left;width:85%;height:50px;border-right: 1px solid #F2F2F2;text-align:left;">
      <span style="margin-left: 0px;font-size:20px;color:#000033;">六个核桃</span>
    </div>
    <div style="float:right;width:14%;height:50px;text-align: center;margin-top: 10px;">
      <span style="font-size:10px;color:#ffcc66;">16.6万</span><br/>
      <span style="font-size:10px;color:#000033;">人气值</span>
    </div>
  </div>
  <div class="clear"></div>
  <div style="height:5px;"></div>
  <div class="clear"></div>
  <div style="width:95%;border-top:1px solid #F2F2F2;margin:0 auto;">
    <div style="float:left;width:60%;height:30px;text-align: left;margin-top: 10px;">
      <span style="margin-left: 0px;font-size:13px;color:#e5595c;">预售时间：05月21日</span><br/>
      <span style="margin-left: 0px;font-size:13px;color:#e5595c;">提货时间：05月22日</span>
    </div>
    <div style="float:right;width:40%;height:30px;text-align: right;margin-top: 10px;">
      <span style="margin-right: 0px;font-size:10px;color:#e5595c;">限量80000份</span><br/>
      <span style="margin-right: 0px;font-size:15px;color:#000000;">今日已售<label style="color:#f13e3b;">80000</label>份</span>
    </div>
  </div>
  <div class="clear"></div>
  <div style="height:10px"></div>
  <div class="clear"></div>
  <div style="width:95%;margin:0 auto;">
    <div style="float:left;width:80%;height:30px;text-align: left;margin-top: 10px;">
      <span style="margin-left: 0px;font-size:23px;color:#e5595c;">￥<label>9.5</label></span>
    </div>
    <div style="float:right;width:20%;height:30px;text-align: right;margin-top: 10px;">
      <div style="margin-right: 0px;height:28px;background: #a00300;border-radius:5px;line-height: 28px;text-align: center;">
        <span style="font-size:15px;color:white;">加入购物车</span>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <div style="height:5px"></div>
  <!-- <div class="clear"></div>-->
  <div style="width:95%;border-top:1px solid #F2F2F2;height:20px;margin:0 auto;">
    <div style="float:left;width:60%;height:20px;margin-left: 0px;text-align:left;">
      <img src="images/6.png" style="width:20px;height:20px;border-radius:10px;border:1px solid #666666;vertical-align:middle;"/>
      <img src="images/6.png" style="width:20px;height:20px;border-radius:10px;border:1px solid #666666;vertical-align:middle;"/>
      <img src="images/6.png" style="width:20px;height:20px;border-radius:10px;border:1px solid #666666;vertical-align:middle;"/>
      <img src="images/6.png" style="width:20px;height:20px;border-radius:10px;border:1px solid #666666;vertical-align:middle;"/>
      <img src="images/6.png" style="width:20px;height:20px;border-radius:10px;border:1px solid #666666;vertical-align:middle;"/>
      <span style="color:#C1C1C1;font-size:8px;vertical-align:middle;">等购买了此商品</span>
    </div>
    <div style="float:right;width:19%;height:20px;margin-right: 0px;text-align:right;">
      <span style="color:#ABABAB;font-size:8px;vertical-align:middle;"> > </span>
    </div>
  </div>
</div>
<div style="height:5px"></div>
<div style="border-bottom:1px solid #eee;width:98%;height:410px;background: white;margin: 0 auto;text-align:center">
  <div style="width:95%;text-align: center">产品由XX提供</div>
  <img width="95%" height="200px" src="images/1.png"/>
  <div style="width:95%;margin:0 auto;">
    <div style="float:left;width:85%;height:50px;border-right: 1px solid #F2F2F2;text-align:left;">
      <span style="margin-left: 0px;font-size:20px;color:#000033;">六个核桃</span>
    </div>
    <div style="float:right;width:14%;height:50px;text-align: center;margin-top: 10px;">
      <span style="font-size:10px;color:#ffcc66;">16.6万</span><br/>
      <span style="font-size:10px;color:#000033;">人气值</span>
    </div>
  </div>
  <div class="clear"></div>
  <div style="height:5px;"></div>
  <div class="clear"></div>
  <div style="width:95%;border-top:1px solid #F2F2F2;margin:0 auto;">
    <div style="float:left;width:60%;height:30px;text-align: left;margin-top: 10px;">
      <span style="margin-left: 0px;font-size:13px;color:#e5595c;">预售时间：05月21日</span><br/>
      <span style="margin-left: 0px;font-size:13px;color:#e5595c;">提货时间：05月22日</span>
    </div>
    <div style="float:right;width:40%;height:30px;text-align: right;margin-top: 10px;">
      <span style="margin-right: 0px;font-size:10px;color:#e5595c;">限量80000份</span><br/>
      <span style="margin-right: 0px;font-size:15px;color:#000000;">今日已售<label style="color:#f13e3b;">80000</label>份</span>
    </div>
  </div>
  <div class="clear"></div>
  <div style="height:10px"></div>
  <div class="clear"></div>
  <div style="width:95%;margin:0 auto;">
    <div style="float:left;width:80%;height:30px;text-align: left;margin-top: 10px;">
      <span style="margin-left: 0px;font-size:23px;color:#e5595c;">￥<label>9.5</label></span>
    </div>
    <div style="float:right;width:20%;height:30px;text-align: right;margin-top: 10px;">
      <div style="margin-right: 0px;height:28px;background: #a00300;border-radius:5px;line-height: 28px;text-align: center;">
        <span style="font-size:15px;color:white;">加入购物车</span>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <div style="height:5px"></div>
  <!-- <div class="clear"></div>-->
  <div style="width:95%;border-top:1px solid #F2F2F2;height:20px;margin:0 auto;">
    <div style="float:left;width:60%;height:20px;margin-left: 0px;text-align:left;">
      <img src="images/6.png" style="width:20px;height:20px;border-radius:10px;border:1px solid #666666;vertical-align:middle;"/>
      <img src="images/6.png" style="width:20px;height:20px;border-radius:10px;border:1px solid #666666;vertical-align:middle;"/>
      <img src="images/6.png" style="width:20px;height:20px;border-radius:10px;border:1px solid #666666;vertical-align:middle;"/>
      <img src="images/6.png" style="width:20px;height:20px;border-radius:10px;border:1px solid #666666;vertical-align:middle;"/>
      <img src="images/6.png" style="width:20px;height:20px;border-radius:10px;border:1px solid #666666;vertical-align:middle;"/>
      <span style="color:#C1C1C1;font-size:8px;vertical-align:middle;">等购买了此商品</span>
    </div>
    <div style="float:right;width:19%;height:20px;margin-right: 0px;text-align:right;">
      <span style="color:#ABABAB;font-size:8px;vertical-align:middle;"> > </span>
    </div>
  </div>
</div>
</body>
</html>
