<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
<meta name="renderer" content="webkit"/>
<meta name="force-rendering" content="webkit"/>
<script>/*@cc_on window.location.href="http://support.dmeng.net/upgrade-your-browser.html?referrer="+encodeURIComponent(window.location.href); @*/</script>
<title></title>
<link type="text/css" rel="stylesheet" href="css/style.css" />
</head>

<body style="background:#fff">
<div class="headerbox">
  <div class="header">
    <div class="headerL">
      <a onclick="javascript:history.back(-1)" class="goback"><img src="images/goback.png" /></a>
    </div>
    <div class="headerC">
      <p>消息中心</p>
    </div>
    <div class="headerR"></div>
  </div>
</div>
<div class="clear"></div>
<div class="hbox"></div>
<div class="massegeBox">
  <div class="message_1">
    <div class="meL">
      <img src="images/message1.png" />
    </div>
    <div class="meR">
      <div class="meR_1">
        <p>商城活动</p>
        <span>昨天</span>
      </div>
      <div class="meR_2">年货节超级优惠，全场年货买二送一...</div>
    </div>
  </div>
  <div class="message_1">
    <div class="meL">
      <img src="images/message2.png" />
    </div>
    <div class="meR">
      <div class="meR_1">
        <p>物流通知</p>
        <span>12:36</span>
      </div>
      <div class="meR_2">您的美丽新娘韩版一字肩齐地婚纱已发货</div>
    </div>
  </div>
  <div class="message_1">
    <div class="meL">
      <img src="images/message3.png" />
    </div>
    <div class="meR">
      <div class="meR_1">
        <p>优惠券</p>
        <span>昨天</span>
      </div>
      <div class="meR_2">您有1张优惠券明日即将到期，优惠额50.0元，快去用掉...</div>
    </div>
  </div>
  <div class="message_1">
    <div class="meL">
      <img src="images/message4.png" />
    </div>
    <div class="meR">
      <div class="meR_1">
        <p>系统通知</p>
        <span>昨天</span>
      </div>
      <div class="meR_2">感谢您注册本商城，首次注册获得一次抽奖机会，立即去...</div>
    </div>
  </div>
</div>
</body>
</html>
